<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>All Destinations</title>
</head>
<body>
	<h1>All Destinations:</h1>
	<form>
		<table>
			<tr th:each="currentDestination: ${destination}">
				<td th:text="${currentDestination.id}" />
				<td th:text="${currentDestination.location}" />
				<td th:text="${currentDestination.price}" />
				<td th:text="${currentDestination.rating}" />
				<td th:text="${currentDestination.details}" />
				<td th:text="${currentDestination.amenities}" />
				<td><a
					th:href="@{/editDestination/{id}(id=${currentDestination.id})}">Update</a></td>
				<td><a
					th:href="@{/deleteDestination/{id}(id=${currentDestination.id})}">Delete</a></td>
			</tr>

		</table>

		<a href="../addDestination">Add a new Destination</a>
	</form>
</body>
</html>